<style>
.nav-search-wrapper {
    flex: 1;
    max-width: 600px;
    margin: 0 auto;
    left: 50%;
}

.nav-search-wrapper .simple-search {
    padding: 0;
}

.nav-search-wrapper .search-wrapper {
    background: #f5f5f5;
    border-color: transparent;
}

.nav-search-wrapper .search-wrapper:focus-within {
    background: white;
}
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" !important>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="lni lni-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >s
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/listings">Explore</a>
      </div>
      <div class="nav-search-wrapper">
            <%- include('simpleSearch', { 
                searchQuery: typeof searchQuery !== 'undefined' ? searchQuery : '' 
            }) %>
        </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" href="/listings/new">Become a host</a>
        <% if(!currUser) { %>
          <a class="nav-link active" href="/signup"><b>SignUp</b></a>
          <a class="nav-link active" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) { %>
        <a class="nav-link active" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>