<style>
  .btn-search{
    font-size: 0.80rem;
    background-color: #fe424d;
    color: #fff;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i{
    display:inline;
    margin-right: 0.5rem;
  }
  .search-bar{
    border-radius: 20px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 0.85rem;
  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="lni lni-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >s
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
        <input class="form-control search-bar me-2" type="search" placeholder="Search destination" />
        <button class="btn btn-search" type="submit"><i class="fa-brands fa-sistrix"></i>Search</button>
      </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" href="/listings/new">Become a host</a>
        <% if(!currUser) { %>
          <a class="nav-link active" href="/signup"><b>SignUp</b></a>
          <a class="nav-link active" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) { %>
        <a class="nav-link active" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>